html {
  background-color: rgb(6, 28, 63);
}

header {
  background-color: rgb(2, 112, 210);
  color: white;
}

header > img {
  margin-right: 1rem;
}

header > h1 {
  display: inline-block;
  font-weight: lighter;
  font-size: 2rem;
}

body {
  background-color: #cccccc;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
}

nav,
footer {
  background-color: rgb(6, 28, 63);
  width: 100%;
  color: #A8B7C7;
}

nav ul { width: 100px; }
nav ul > li {
  margin: 0 8px;
}

main > div > div > div {
  padding-top: 10px;
}

main ul > li,
main ol > li {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}

ul.contrib {
  width: 100%;
  height: 125px;
  max-height: 125px;
  margin-top: 10px;
  display: table;
  table-layout: fixed;
}

ul.inline > li,
ul.contrib > li {
  display: table-cell;
  padding: 5px;
}

ul.vertical {
  margin-top: 20px;
}

ul.vertical > li {
  margin-top: 0;
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 0;
}

#recent-posts > ol > li {
  margin: 10px;
}

#recent-posts > ol > li > div {
  color: #ffffff;
  font-style: italic;
  padding-left: 20px;
}

.logo > img {
  height: 130px;
}

.logo > span {
  margin-left: 20px;
  font-size: 32px;
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

p > a {
  text-decoration: underline;
}

.top > p {
  padding-top: 40px;
}

main {
  background-color: #109949;
}

main > div.light {
  background-color: rgb(250, 250, 250);
}

footer {
  font-size: .75rem;
}

footer .legal {
  padding-bottom: 0;
}

nav ul {
  min-width: 175px;
  text-align: right;
}

.title {
  border: 2px solid rgb(6, 28, 63);
  border-bottom: 0;
  position: relative;
  top: .6rem;
}

.title > h3 {
  position: relative;
  top: -.6rem;
  background: rgb(222, 222, 222);
  display: inline-block;
  padding: 0 .5rem;
  text-transform: uppercase;
}

.slds-icon_container { z-index: 1; margin: 0 4px; background: rgb(2, 112, 210); }
.slds-media--timeline:before { z-index: 0; background: rgb(2, 112, 210); }


@media (min-width: 1025px) {
  .top {
    background-image: url(assets/images/top_background.png);
    background-size: contain;
    width: 100%;
    height: 0;
    background-repeat: no-repeat;
    padding-bottom: 31.9%;
    padding-left: 320px;
    padding-right: 320px;
    margin-top: 1px;
    color: #ffffff;
    font-size: 18px;
  }

  main > div {
    background-image: url(assets/images/zig_zag.png);
    background-repeat: no-repeat;
    background-size: 100% 380px;
    background-position-y: 100px;
  }

  main > div > div {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .two-col {
    content:"";
    display: table;
    clear: both;
  }

  .left {
    float: left;
    width: 50%;
  }

  .right {
    float: right;
    width: 50%;
  }

  ul.contrib.built-at {
    display: block;
    table-layout: auto;
    padding-top: 20px;
    min-height: 180px;
    max-height: 200px;
  }

  ul.contrib.built-at:after {
    content: "";
    display: table;
    clear: both;
  }

  ul.contrib.built-at > li {
    display: block;
    width: 20%;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    min-height: 75px;
    max-height: 75px;
  }

  ul.contrib.built-at > li img {
    max-height: 75px;
  }
}

@media (max-width: 1024px) {
  ul.contrib {
    height: auto;
    max-height: none;
    display: block;
  }

  ul.inline > li,
  ul.contrib > li {
    display: inline-block;
    float: none;
    width: auto;
  }

  ul.contrib > li > a > img {
    max-width: 200px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .top {
    background-image: url(assets/images/top_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: #ffffff;
    font-size: 1em;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  main > div > div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .left,
  .right {
    float: none;
    width: auto;
  }

  .right {
    padding-top: 40px;
  }
}
