html {
    background-color: rgb(6, 28, 63);
}

header {
    background-color: rgb(2, 112, 210);
    color: white;
}

header > img {
    margin-right: 1rem;
}

header > h1 {
    display: inline-block;
    font-weight: lighter;
    font-size: 2rem;
}

h2 { font-size: 1.25rem; }

nav,
footer {
    background-color: rgb(6, 28, 63);
    width: 100%;
    color: #A8B7C7; 
}

nav ul { width: 100px; }
nav ul > li {
    margin: 0 8px;
}

ul > li {
    display: inline-block;
}

main { 
    background-color: rgb(222, 222, 222);
}

main ul > li,
main ol > li {
    margin: .5rem 1rem;
}

ul.contrib > li > a > img {
    max-width: 200px;
    height: 70px;
}

main > div.light {
    background-color: rgb(250, 250, 250);
}

footer {
    font-size: .75rem;
}

nav ul {
    min-width: 75px;
    text-align: right;
}

.title {
    border: 2px solid rgb(6, 28, 63);
    border-bottom: 0;
    position: relative;
    top: .6rem;
}

.title > h3 {
    position: relative;
    top: -.6rem;
    background: rgb(222, 222, 222);
    display: inline-block;
    padding: 0 .5rem;
}

.slds-icon_container { z-index: 1; margin: 0 4px; background: rgb(2, 112, 210); }
.slds-media--timeline:before { z-index: 0; background: rgb(2, 112, 210); }
